<!doctype html>
<html>
<head>

<META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
<META HTTP-EQUIV="expires" CONTENT="0">
	
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="format-detection" content="email=no"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="description" content="最当代的玄学应用平台——包含占星、八字、六爻、六壬、遁甲、易经...精确排盘。公开透明，致力于玄学、术数的客观论证、典籍整理、技法复原。囊括天下玄学、复原各类异术。仅供兴趣探讨、学术研究使用。">
<meta name="keywords" content="最当代的玄学应用平台——包含占星、八字、六爻、六壬、遁甲、易经...精确排盘。公开透明，致力于玄学、术数的客观论证、典籍整理、技法复原。囊括天下玄学、复原各类异术。仅供兴趣探讨、学术研究使用。星阙,应物,占星,星圖,星盤,古典占星,出生圖,本命圖,七政四餘,印度占星,占星,星图,星盘,古典占星,出生图,本命图,七政四馀,印度占星,astrology,natal chart,vedic">
<title><%= context.title %></title>
</head>
<body>

<div id="root"></div>

</body>
</html>
